<%- include('../partials/header') %>

  <% if (failed) { %>
    <h1>We couldn't find anything for <i><%= q %>...</i> Try again!</h1>
  <% } %>
  <% if (tracks) { %>
    <a href="/playlists/<%= playlist._id %>">I'm satisfied</a>
    <h3 class="query-message">You searched for: <%= q %></h3>
  <% } %>
  <% if (lastQuery) { %>
    <a href="/playlists/<%= playlist._id %>">I'm satisfied</a>
    <h3 class="query-message">"<%= addedSongTitle %>" has been added to your playlist!</h3>
  <% } %>
  <div class="title-div">
    <h1>Enter a Song, an Album, or an Artist!</h1>
    <form action="/playlists/<%= playlist._id %>/search/results" method="GET">
      <input style="width: 500px;" type="text" name="q" placeholder="&quot;<%= title %>&quot; bout to get some love!">
      <button id="search-button" type="submit">GO</button>
    </form>
  </div>
  <% if (tracks) { %>
    <div id="table-div">
      <table>
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% tracks.forEach(function(t) { %>
            <tr>
              <td><div class="table-line"></div></td>
              <td><div class="table-line"></div></td>
              <td><div class="table-line"></div></td>
              <td><div id="last-line" class="table-line"></div></td>
            </tr>
            <tr>
              <td><%= t.title_short %></td>
              <td><%= t.artist.name %></td>
              <td><%= t.album.title %></td>
              <td><%= t.time %></td>
              <form action="/playlists/<%= playlist._id %>/songs" method="POST">
                <td><button class="add-button" type="submit">Add</button></td>
                <input style="display: none;" type="text" name="apiSongId" value="<%= t.id %>">
                <input style="display: none;" type="text" name="title" value="<%= t.title_short %>">
                <input style="display: none;" type="text" name="artist" value="<%= t.artist.name %>">
                <input style="display: none;" type="text" name="album" value="<%= t.album.title %>">
                <input style="display: none;" type="text" name="time" value="<%= t.time %>">
                <input style="display: none;" type="text" name="duration" value="<%= t.duration %>">
                <input style="display: none;" type="text" name="artistAvatar" value="<%= t.artist.picture_big %>">
                <input style="display: none;" type="text" name="allTracks" value="<%= JSON.stringify(tracks) %>">
              </form>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } else if (lastQuery) { %>
    <div id="table-div">
      <table>
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Duration</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% lastQuery.forEach(function(t) { %>
            <tr>
              <td><div class="table-line"></div></td>
              <td><div class="table-line"></div></td>
              <td><div class="table-line"></div></td>
              <td><div id="last-line" class="table-line"></div></td>
            </tr>
            <tr>
              <td><%= t.title_short %></td>
              <td><%= t.artist.name %></td>
              <td><%= t.album.title %></td>
              <td><%= t.time %></td>
              <form action="/playlists/<%= playlist._id %>/songs" method="POST">
                <td><button class="add-button" type="submit">Add</button></td>
                <input style="display: none;" type="text" name="apiSongId" value="<%= t.id %>">
                <input style="display: none;" type="text" name="title" value="<%= t.title_short %>">
                <input style="display: none;" type="text" name="artist" value="<%= t.artist.name %>">
                <input style="display: none;" type="text" name="album" value="<%= t.album.title %>">
                <input style="display: none;" type="text" name="time" value="<%= t.time %>">
                <input style="display: none;" type="text" name="duration" value="<%= t.duration %>">
                <input style="display: none;" type="text" name="artistAvatar" value="<%= t.artist.picture_big %>">
                <input style="display: none;" type="text" name="allTracks" value="<%= JSON.stringify(lastQuery) %>">
              </form>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% } %>

<%- include('../partials/footer') %>

