<%- include('../partials/header') %>

  <% if (playlists.length) { %>
    <div class="user-div">
      <img class="user-avatar" src="<%= playlists[0].user.avatar %>">
      <h1 class="user-name"><%= playlists[0].user.name %>'s Playlists</h1>
    </div>
    <br><br>
  <% } else { %>
    <div class="user-div">
      <img class="user-avatar" src="<%= user.avatar %>">
      <h1 class="user-name"><%= user.name %>'s Playlists</h1>
    </div>
    <br><br>
  <% } %>
  <div class="content-wrapper">
    <% if (playlists.length) { %>
      <% playlists.forEach(function(p) { %>
        <div class="playlist-div">
          <a class="playlist-header-div" href="/playlists/<%= p._id %>">
            <% if (!!p.img) { %>
              <img style="width: 200px;" src="<%= p.img %>">
              <% } else { %>
              <% if (p.songs.length) { %>
                <div class="artwork-div">
                  <% for (let i = 0; i < 4; i++) { %>
                    <% if (!p.songs[i]) break; %>
                    <% if (p.songs.length < 4) { %>
                      <img style="width: 200px;" src="<%= p.songs[i].artistAvatar %> ">
                    <% break; %> 
                    <% } %>
                    <img style="width: 100px;" src="<%= p.songs[i].artistAvatar %> ">
                    <% if (i === 1) { %>
                      <br>
                    <% } %>
                  <% } %>
                </div>
              <% } else { %>
                <img style="width: 200px;" src="/images/white-double-quaver.png">
              <% } %> 
            <% } %> 
            <h1 class="playlist-title"><%= p.title || "Untitled" %></h1>
          </a>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Track</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="table-line"></div></td>
                <td><div class="table-line"></div></td>
                <td><div class="table-line"></div></td>
                <td><div class="table-line"></div></td>
                <td><div id="last-line" class="table-line"></div></td>
              </tr>
              <tr>
              <% for (let i = 0; i < 5; i++) { %>
                <% if (!p.songs[i]) break; %>
                <tr>
                  <td><%= i + 1 %> </td>
                  <td><%= p.songs[i].title %> </td>
                  <td><%= p.songs[i].artist %> </td>
                  <td><%= p.songs[i].album %> </td>
                  <td><%= p.songs[i].time %> </td>
                </tr>
              <% }; %>
              <tr>
                <td><div class="table-line"></div></td>
                <td><div class="table-line"></div></td>
                <td><div class="table-line"></div></td>
                <td><div class="table-line"></div></td>
                <td><div id="last-line" class="table-line"></div></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <span class="time-span">
                    <%= p.songs.length %>
                    <%= p.songs.length === 1 ? ' song, ' : ' songs, ' %>
                    <%= p.duration %>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br><br>
      <% }); %>
    <% } else { %>
      <p id="solo">There's no one here but you...</p>
    <% } %>
  </div>
  <div id="new-playlist-div">
    <% if (user) { %>
      <% if (playlists.length < 1) { %>
        <a class="new-playlist" href="/playlists/new">
          <img class="new-playlist-img" src="/images/add-playlist-icon-white.png">&nbsp;&nbsp;Make a new Playlist
        </a>
      <% } else if(playlists[0].user._id.equals(user._id)) { %>
        <a class="new-playlist" href="/playlists/new">
          <img class="new-playlist-img" src="/images/add-playlist-icon-white.png">&nbsp;&nbsp;New Playlist
        </a>
      <% } %> 
    <% } %> 
  </div>

<%- include('../partials/footer') %>